<h1><%=@song.title%></h1>
<br>
<p>Title:&emsp;<%= @song.title %></p>
<p>Released:&emsp;<%= @song.released %></p>
<p>Release Year:&emsp;<%= @song.release_year %></p>
<p>Artist Name:&emsp;<%= @song.artist_name %></p>
<p>Genre:&emsp;<%= @song.genre %></p>
